---
title: 11ty Boilerplate
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YAP</title>
  <script src="utilities.js"></script>
  <script src="//unpkg.com/alpinejs" defer></script>
  <link rel="stylesheet" href="/styles/screen.css">

</head>
<body>
  <div x=data="{name: ['g', 'jac', 'obs']}">
    <button @click="alert(name[0])">Alpine</button>

  </div>

</body>
</html>