---
title: 11ty Boilerplate
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Random Name Generator</title>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="randomnamegenerator.js"></script>
  <link rel="stylesheet" href="/styles/screen.css">
</head>
<body>
<h2>Random Name Generator</h2>
<div x-data="rando">
        <h1 x-text="name"></h1>
        <button @click="name = name">Generate a name</button>
 </div>
<script>
function rando() {
    const names = ['Claire', 'John', 'Katie', 'Liam', 'Amelia', 'Oliver', 'Sophia', 'Elijah', 'Charlotte', 'Mateo'];
    return {
      get name() {
        return names[Math.floor(Math.random() * names.length)];
      },
    }
  }
</script>

</body>
</html>