---
title: 11ty Boilerplate
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Random Name Generator</title>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="randomnamegenerator.js"></script>
  <link rel="stylesheet" href="/styles/screen.css">
</head>
<body>
<h2>Activity Generator</h2>
<p>Happy Valentines day!!!! </p>
<div x-data="rando">
        <h1 x-text="name"></h1>
        <button @click="name = name">Generate an Activity</button>
 </div>
<script>
function rando() {
    const names = ['Go to the mall ', 'Vape-off', 'Make clay', 'Go thrift', 'Cook nice meal', 'Feed ducks', 'Buy puzzle/game', 'Minecraft', 'Critique movie', 'Think a lot at an art museum', 'Play catch', 'Make tier lists', ];
    return {
      get name() {
        return names[Math.floor(Math.random() * names.length)];
      },
    }
  }
</script>

</body>

<img alt="pine" src="/images/skyblock.png" width="600" />
</html>